
@import "./variables.scss";

// Default variable overrides
.author-list{
	display: block;
	list-style: none;
	.list-item{
		padding: 10px 14px;
		border-radius: 8px;
		max-width: 400px;
		cursor: pointer;
		&:hover {
			background-color: rgba(233,30,99,.12);
		}
		&.active {
			background-color: $blue;
			color: white;
		}
		
	}
}

.navbar-link:hover{
    background-color: $w3green;
}

.navbar-link:active{
    background-color: #082b1b;
}

.component-pagination {
	list-style: none;
	padding: 8px;
	li {
		border-radius: 2px;
		color: rgba(33,33,33 ,1);
		display: inline-block;
		margin: 0;
		transition: .15s ease-in;
		cursor: pointer;
		&:hover {
			background: rgba(233,30,99,.12);
		}
		&:active {
			background: $blue;
			color: #333;
		}
	}
	.pagination-number,
	.pagination-arrow i {
		vertical-align: middle;
	}
	.pagination-number {
		font-size: 14px;
		text-align: center;
		line-height: 24px;
		min-width: 40px;
		padding: 8px 0;
		&.current-number {
			background: $blue;
			color: #333;
		}
	}
	.pagination-arrow i {
		font-size: 24px;
		padding: 8px;
	}
}

.card-header {
	background-color: transparent;
	
}
.nav-tabs.card-header-tabs {

	.nav-item .nav-link{
		border-radius: 0;
		background-color: $darkGray;
		border-color: $darkGray;
		color: white;
		font-weight: $slightly-bold;
		margin-right: 10px;

		&.active {
			background-color: $crimson;
			border-color: $crimson;
			color: white;
			font-weight: $slightly-bold;
		}
	}
}

.table {
	thead {
		th {
			background-color: $w3green;
			color: white;
			font-weight: $slightly-bold;
		}
	}
}

@media  (min-width: 1024px) {
	.vue-notification {
		width: 420px !important;
	}
	.vue-notification-group {
		width: 430px !important;
	}
}


.vue-notification, .vue-notification .notification-title, .vue-notification .notification-content {
	font-size: 15px;
}

.navbar.navbar-bottom-border {
  	border-width: 0 0 5px 0;
  	border-bottom-style: solid;
  	border-image: linear-gradient(139deg, $violet2, $crimson, $blue, $w3green) 3 stretch;
}