$lightGray: #c8c8fa;
$gray: #565c64;
$gray2: #666;
$darkGray: #303030;
$white: #fff;
$blueishGreen: #13795b;
$crimson: #d14031;
$greenishBlue: #087990;
$violet2: #6f42c1;
$navyBlue: #084298;
$violet: #6f42c1;
$purple: #ab296a;
$gray3: #333;
$bd-violet-rgb-start: rgba(147, 95, 250, 0.98);
$bd-violet-rgb-end: rgba(166, 125, 248, 0.93);
$table-striped-color: #f5fcfc;
$w3green: #04aa6d;
$blue: #06bbcc;

$slightly-bold: 610;



